==
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>
{% partial "meta" %}
</head>


<body>

<!-- This section is for Splash Screen -->
{% partial "splash" %}
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
{% partial "home-slider"%}
<!-- End Homepage Slider -->

<!-- Header -->
<header>
{% partial "header" %}
</header>
<!-- End Header -->

{% partial "shortcodes" %}

<!-- Footer -->
{% partial "footer"%}
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="{{ [ 'assets/js/bootstrap.min.js',
				'assets/js/supersized.3.2.7.min.js',
				'assets/js/waypoints.js',
				'assets/js/waypoints-sticky.js',
				'assets/js/jquery.isotope.js',
				'assets/js/jquery.fancybox.pack.js',
				'assets/js/jquery.fancybox-media.js',
				'assets/js/plugins.js',
				'assets/js/main.js',
                'assets/js/main_1.js',
				] | theme }}"></script>
{% framework extras %}
{% scripts %}
<!-- End Js -->
</body>
</html>